files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 5M;
commands:
 command_01_echo:
  command: "echo 'this is a hook before executing ./build.sh'"
 command_02_echo:
  command: echo $PATH
 command_03_whoami:
  command: whoami
 command_04_ls:
  command: ls -l
container_commands:
 container_command_01_echo:
  command: "echo 'this is a hook after executing ./build.sh'"
 container_command_02_ls:
  command: "ls -l"
 container_command_03_reload_nginx:
  command: "service nginx reload"